/* Fondo general y texto */
body {
    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;
    background-color: #FFFFFF; /* Fondo blanco */
    color: #000000; /* Texto negro */
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #CACACA; /* Fondo gris claro */
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000; /* Bordes negros */
    position: relative;
}

/* Estilo para las celdas vacías */
td:empty {
    background-color: #FFFFFF; /* Fondo blanco para las celdas vacías */
}

/* Estilo para las asignaturas */
.module {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF; /* Texto blanco */
}

.module:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

/* Estilos específicos de las asignaturas con su imagen de fondo */
.DWES {
    background-image: url('/imagenes/DWES.png');
    background-color: #8A3F7F; 
}

.DWEC {
    background-image: url('/imagenes/DWEC.png');
    background-color: #8A3F7F; 
}

.DIW {
    background-image: url('/imagenes/DIW.png');
    background-color: #8A3F7F; 
}

/* Estilos específicos de las asignaturas sin imágenes de fondo y ajuste de contraste */
.DAW {
    color: #000000; /* Texto negro */
    background-color: rgba(253, 0, 236, 0.433); /* Fondo blanco semi-transparente */
}

.ANG { 
    color: #000000; /* Texto negro */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
}

.EIE {
    color: #FFFFFF; 
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
}

/* Enlaces sin diferenciar entre visitados y no visitados */
a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* Ajustes adicionales para asegurar visibilidad de los enlaces en cada asignatura */
.DAW a {
    color: #000000; /* Enlaces en DAW en negro */
}

.ANG a {
    color: #000000; /* Enlaces en INGLÉS en negro */
}

.EIE a {
    color: #FFFFFF; /* Enlaces en EMPRESA en blanco */
}
